{% extends "base.html" %}

{% block content %}
<h1>{{ name }}</h1>
<div>
    <p>
        {{ about }}
    </p>
</div>
{% for item in posts %}
<div class="shadow p-3 mb-5 bg-body rounded">
    <h4>{{ item.title }} ({{ item.create_data }})
    {% if id == current_user.id %}
        <br>
        <a class="btn btn-danger" href="/api/posts/del/{{ item.id }}">Удалить пост</a>
        <a class="btn btn-info" href="/edit_post/{{ item.id }}">Изменить пост</a>
    {% endif %}
    </h4>
    <p>{{ item.text }}</p>
</div>
{% endfor %}
{% endblock %}