{% extends "base.html" %}

{% block content %}
<h1>{{ name }}</h1>
<div>
    <p>
        {{ about }}
    </p>
</div>
{% for item in posts %}
<div class="shadow p-3 mb-5 bg-body rounded">
    <h4>{{ item.title }}
    {% if id == current_user.id %}
        <br>
        <a class="btn btn-danger" href="/api/posts/del/{{ item.id }}">Удалить пост</a>
        <a class="btn btn-info" href="/edit_post/{{ item.id }}">Изменить пост</a>
    {% endif %}
    </h4>
    <p>{{ item.text }}</p>
    <div align="right">
        <p>{{ item.create_data }}</p>
    </div>
    {% if current_user.is_authenticated %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.text.label }}<br>
            {{ form.text(class="form-control") }}<br>
            {% for error in form.text.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <p hidden>{{ form.main_post(value=item.id) }}</p>
    </form>
    {% endif %}
    <p>
        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample{{ item.id }}" aria-expanded="false" aria-controls="collapseWidthExample{{ item.id }}">
            Показать комментарии
        </button>
    </p>
    {% for com in comments[::-1] %}
        {% if com.main_post == item.id %}
        <div>
          <div class="collapse collapse-horizontal" id="collapseWidthExample{{ item.id }}" >
            <div class="card card-body">
              <p>
                  {{ com.text }}
                  <div align="right">
                        <p>{{ com.create_data }}</p>
                        <a href="/user/{{ com.creater_id }}" class="link-primary">Автор</a>
                  </div>
              </p>
            </div>
          </div>
        </div>
        <br>
        {% endif %}
    {% endfor %}
</div>
{% endfor %}
{% endblock %}